{% extends 'home_base.html' %}

{% load static %}
{% block title %}
    Let's see what the game has changed?
{% endblock title%}

{% block content %}

<div class="justFAQ">
  <div class="gameupdate">
  
  </div>
  <div class="FAQtitle">
      <br>
      <br>
      <p> Thanks for your interest in playing the Premier Global Open Beta! </p>
      <p> After our Alpha in Brazil last year, the team went back to work on Premier, taking feedback from players, and rebuilding parts of the system in order to launch in 2023. You can test some of those changes in the Beta (like scheduling, team zones, and more) and we’ll continue to improve on other areas. The beta is a great way to release a version of Premier we think players will enjoy while also giving us an opportunity to iron out any wrinkles and ensure our foundation is solid for launch. </p>
      
      <h1> VALORANT PATCH NOTES 8.05</h1>
      
  </div>
  <hr>
  <div class="gameupdate-body">
    {% for gameupdate in gameupdates %}
  <div>
     
      
      
      <div >
        <h2> {{gameupdate.title}} </h2>
        <h4> ./{{gameupdate.big_title}} </h4>
        <pre> {{gameupdate.field2}} </pre>
      </div>

                      
   
  </div> 

  {% endfor %}
  <br>
  <br>
  <hr>
  <br>
  </div>
  {% endblock content%}



               


