{% extends 'home_base.html' %}

{% load static %}
{% block title %}
    PREMIER
{% endblock title%}

{% block content %}
<div class="FAQheader">

</div>
<div class="FAQtitle">
    <h1> PREMIER GLOBAL OPEN BETA FAQ </h1>
    <p> Premier is VALORANT’s team-based competitive system, and the Premier Global Open Beta launches April 25. Watch the video below where we run through the basics so that you and your team are ready on day one. For any additional questions, please check out the FAQ below.</p>
    <iframe  src="https://res.cloudinary.com/dtbkn91rt/video/upload/v1681929042/Open_Beta_To%C3%A0n_C%E1%BA%A7u-_T%E1%BB%95ng_Quan____Premier_-_VALORANT_ax2pfo.mp4">
    </iframe>
    <p> Thanks for your interest in playing the Premier Global Open Beta! </p>
    <p> After our Alpha in Brazil last year, the team went back to work on Premier, taking feedback from players, and rebuilding parts of the system in order to launch in 2023. You can test some of those changes in the Beta (like scheduling, team zones, and more) and we’ll continue to improve on other areas. The beta is a great way to release a version of Premier we think players will enjoy while also giving us an opportunity to iron out any wrinkles and ensure our foundation is solid for launch. </p>
    <h2> PREMIER GLOBAL OPEN BETA FAQ </h2>
</div>
<hr>
{% for premier in premiers %}
<div class="FAQ">
<h3>{{premier.question}} </h3>
<p> ./ {{premier.answer}} <p>
</div>
{% endfor %}
<br>
<br>
<hr>
<br>

{% endblock content%}