{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PLAY VALORANT</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}" />
    <link rel="stylesheet" href="{% static 'css/style1.css'%}" />
    <link rel="stylesheet" href="{% static 'css/button.css'%}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'img/faviconicon.png'%}">
  </head>
  
   
    <nav>
      <ul>
        <li>
          <a href="{% url 'home:home' %}"> <img src="{% static 'img/faviconicon.png' %}" alt="Intro Image"  height="30" width="30">  </a>
          <a href="{% url 'home:agents' %}">Agents</a>
          <a href="{% url 'home:maps' %}">Maps</a>
          <a href="{% url 'home:weapons' %}">Arsenals</a>
          <a href="{% url 'home:specs' %}">Specs</a>
          <a href="{% url 'home:news' %}">News</a>
          <a href="{% url 'home:premiers' %}">premiers</a>
        </li>
      </ul>
    </nav>
  <body>  

    <header class="indexHeader">
      
        <p>A 5v5 character-based tactical shooter</p>
          <h1>VALORANT</h1>
        <div>
          
          <button class="btn">
            <span class="btn__inner">
              <span class="btn__slide"></span>
              <span class="btn__content">PLAY NOW</span>
            </span>
          </button>
          
        </div>
      
    </header>
    <br><br><br>
    <hr>
    <!--1.intro-->
    <div class="indexIntroContainer">

        <div class="indexIntroItem1 indexIntroContaineriner">
          
          <div class="introitem0 introitem">
            <img src="{% static 'img/gameplay.gif'%}">
          </div>

          <div class="introitem2 introitem">
            <h1>  WE ARE VALORANT  </h1>
            <h3> // DEFY YOUR LIMITS. </h3>
          </div>

          <div class="introitem3 introitem">
            <p> Blend your style and experience on a global, competitive stage. You have 13 rounds to attack and defend your side using sharp gunplay and tactical abilities. And, with one life per-round, you'll need to think faster than your opponent if you want to survive. Take on foes across Competitive and Unranked modes as well as Deathmatch and Spike Rush. </p>
          </div>
            
          <div class="introitem4 introitem">
            <a href="{% url 'home:signups' %}">
            <button class="btn btn--light">
              <span class="btn__inner">
                <span class="btn__slide"></span>
                <span class="btn__content"> tutorials </span>
              </span>
            </button>
        </a></div>

        </div>

        <div class="indexIntroItem2 indexIntroContainerinerr">

          <div class="introitem5 introitem1">
            <img src="{% static 'img/jett.png'%}" height ="375" width="570">
          </div>
          <div class="introitem6 introitem1">
            <h1> YOUR AGENTS </h1>
            <h3> // CREATIVITY IS YOUR GREATEST WEAPON. </h3>
          </div>
          <div class="introitem7 introitem1">
            <p> More than guns and bullets, you’ll choose an Agent armed with adaptive, swift, and lethal abilities that create opportunities to let your gunplay shine. No two Agents play alike, just as no two highlight reels will look the same. </p>
          </div>
          <div class="introitem8 introitem1">
            <a href="{% url 'home:agents' %}">
              <button class="btn">
                <span class="btn__inner">
                    <span class="btn__slide"></span>
                    <span class="btn__content" >View All Agents</span>
                </span>
              </button>
            </a>
          </div>

        </div>

        <div class="indexIntroItem1 indexIntroContaineriner">

          <div class="introitem9 introitemm">
            <img src="{% static 'img/mapsIntro.png'%}">
          </div>
          <div class="introitem10 introitemm">
            <h1> YOUR MAPS </h1>
            <h3> // FIGHT AROUND THE WORLD. </h3>
          </div>
          <div class="introitem11 introitemm">
            <p> Each map is a playground to showcase your creative thinking. Purpose-built for team strategies, spectacular plays, and clutch moments. Make the play others will imitate for years to come. </p>
          </div>
          <div class="introitem12 introitemm">
            <a href="{% url 'home:maps' %}">
              <button class="btn btn--light">
                <span class="btn__inner">
                  <span class="btn__slide"></span>
                  <span class="btn__content">View All maps</span>
                </span>
              </button>
          </a>
          </div>

        </div>
        
      </div>
    <!--enderintros-->
    
    <br>
    <footer>
      <div class="ender">
          <p1>
              <a href="https://twitter.com/PlayVALORANT" target="_blank"><img class="socialLink" src="{%static 'img/twitter.png'%}" alt="Twitter" ></img></a>
              <a href="https://www.facebook.com/VALORANTvn/" target="_blank"><img class="socialLink" src="{% static 'img/facebook.png'%}" alt="Facebook" ></img></a>
              <a href="https://www.youtube.com/c/VALORANTvn" target="_blank"><img class="socialLink2" src="{% static 'img/youtube.png'%}" alt="YouTube" ></img></a>
              <a href="https://discord.gg/qqqBa2rfAg" target="_blank"><img class="socialLink2" src="{% static 'img/discord.png'%}" alt="YouTube" ></img></a>
              <a href="https://www.instagram.com/playvalorantofficial/?hl=en" target="_blank"><img class="socialLink2" src="{% static 'img/instagram.png'%}" alt="YouTube" ></img></a>
              <br>
              
          </p1>
      </div>
      <div  class="enderlink">
              <a href="https://www.riotgames.com/en" target="_blank"><img class="socialLink2" src="{% static 'img/riot.png'%}" alt="YouTube" ></img></a>
              <a href="{% url 'home:home' %}" target="_blank"><img class="socialLink2" src="{% static 'img/logoonhome.png'%}" alt="YouTube" ></img></a>
      </div>                
              <p>
                        &copy; 2023 Riot games, inc, riot games, <span>valorant</span>, and any
                        associated logos are trademarks, service marks, and/or registered
                        trademarks of riot games, inc.
                      </p>
                      <img src="{% static 'img/2.footer.png' %}"/>
    </footer>
  </body>
</html>
