{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}  {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}" />
    <link rel="stylesheet" href="{% static 'css/style1.css'%}" />
    <link rel="stylesheet" href="{% static 'css/button.css'%}" />
    <link rel="stylesheet" href="{% static 'css/weapon.css'%}" />
    <link rel="stylesheet" href="{% static 'css/agent.css'%}" />
    <link rel="stylesheet" href="{% static 'css/map.css'%}" />
    <link rel="stylesheet" href="{% static 'css/agent_detail.css'%}" />
    <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/dtbkn91rt/image/upload/v1680739254/faviconicon_ycc0ow.png">
  </head>
  <header>
    <div class="wrapper">
      <header>
          <nav>
            <ul>
              <li>
                <a href="{% url 'home:home' %}"> <img src="{% static 'img/header-logo.png' %}" alt="Intro Image"  height="30" width="30">  </a>
                <a href="{% url 'home:agents' %}">agents</a>
                <a href="{% url 'home:maps' %}">maps</a>
                <a href="{% url 'home:weapons' %}">arsenals</a>
                <a href="{% url 'home:specs' %}">specs</a>
                <a href="{% url 'home:news' %}">news</a>
                <a href="{% url 'home:battlepass' %}">battlepass</a>
                <a href="{% url 'home:premiers' %}">premiers</a>
                <a href="{% url 'home:tutorials' %}">tutorial</a>
                <a href="https://valorantesports.com/schedule">esport</a>
                <a href="#bottom"> our social </a>
                </li>
            </ul>
          </nav>
      </header>
    </div>
    <div class="upper">
      <a href="#top"><img src="{% static 'img/up.png' %}"/></a>
    </div>
  </header>
<body> 
  
{% block content %} 

    <!--body-->
{% endblock content %}
         <script src="{% static 'js/map.js'%}"></script> 
         <footer id="bottom">
          <div class="ender">
              <p1>
                <h5> follow us on our social </h5>
                  <a href="https://twitter.com/PlayVALORANT" target="_blank"><img class="socialLink" src="{%static 'img/twitter.png'%}" alt="Twitter" ></img></a>
                  <a href="https://www.facebook.com/VALORANTvn/" target="_blank"><img class="socialLink" src="{% static 'img/facebook.png'%}" alt="Facebook" ></img></a>
                  <a href="https://www.youtube.com/c/VALORANTvn" target="_blank"><img class="socialLink2" src="{% static 'img/youtube.png'%}" alt="YouTube" ></img></a>
                  <a href="https://discord.gg/qqqBa2rfAg" target="_blank"><img class="socialLink2" src="{% static 'img/discord.png'%}" alt="YouTube" ></img></a>
                  <a href="https://www.instagram.com/playvalorantofficial/?hl=en" target="_blank"><img class="socialLink2" src="{% static 'img/instagram.png'%}" alt="YouTube" ></img></a>
                  <br>
                  
              </p1>
          </div>
          <div  class="enderlink">
                  <a href="https://www.riotgames.com/en" target="_blank"><img class="socialLink2" src="https://res.cloudinary.com/dtbkn91rt/image/upload/v1682164854/riot_qr3i31.png" alt="YouTube" ></img></a>
                  <a href="{% url 'home:home' %}" target="_blank"><img class="socialLink2" src="https://res.cloudinary.com/dtbkn91rt/image/upload/v1682164855/logoonhome_dcn8rv.png" alt="YouTube" ></img></a>
          </div>                
                  <p>
                            &copy; 2023 Riot games, inc, riot games, <span>valorant</span>, and any
                            associated logos are trademarks, service marks, and/or registered
                            trademarks of riot games, inc.
                          </p>
                          <img src="https://res.cloudinary.com/dtbkn91rt/image/upload/v1682164808/2.footer_nuwrfn.png"/>
                          <br>
                          
                      <br>
                      <br><div class="updraft">
                            <a href="#top">
                              <img src="{% static 'img/up.png' %}"/>
                            </a>
                            <p> PRESS HERE TO GO ON TOP </p>
                          </div>
                          
                      <br>
                      <br>
                      <br>
                      
        </footer>
      </body>
    </html>