{% extends 'home_base.html' %}

{% load static %}
{% block title %}
    VALORANT: Riot's cometitive game
{% endblock title%}

{% block content %}
  <body>  
    <div class="home-body">
      <div class="videoheader">
        <video autoplay muted loop>
            <source src="https://res.cloudinary.com/dtbkn91rt/video/upload/v1682165431/VALORANT-_Riot_Games_competitive_5v5_character-based_tactical_shooter_pfvsnq.mp4"></source>
      </video>
      </div>

      <div class="indexHeader">
          
            <p>A 5v5 character-based tactical shooter</p>
              <h1>VALORANT</h1>
            <div>
              
              <button class="btn">
                <span class="btn__inner">
                  <span class="btn__slide"></span>
                  <span class="btn__content">PLAY NOW</span>
                </span>
              </button>
              
            </div>
          
      </div>
    <br><br><br>
    
    <!--1.intro-->
    <div class = "home-content-body">
      <!--intro-->
        {% for home in homes%}
            <div class="home-bp">
              <a href="{% url 'home:battlepass'%}">
              <p> episode 6 - act 3 - year 3</p>
              <h1> {{home.name}} </h1>
              <img src = {{home.img.url}}>
              </a>
            </div>
        {% endfor %}
            <div class="home-cb1">
                <div class="home-cb1-text">
                    <h1> we are valorant </h1>
                    <h3> // defy your limits </h3>
                    <p> Blend your style and experience on a global, competitive stage. You have 13 rounds to attack and defend your side using sharp gunplay and tactical abilities. And, with one life per-round, you'll need to think faster than your opponent if you want to survive. Take on foes across Competitive and Unranked modes as well as Deathmatch and Spike Rush.  </p>
                    <a href="{% url 'home:tutorials' %}">
                      <button class="btn">
                        <span class="btn__inner">
                            <span class="btn__slide"></span>
                            <span class="btn__content" style="text-decoration: none";>TUTORIALS</span>
                        </span>
                      </button>
                    </a>
                </div>
                
              
              <!--anh-->
                <div class="home-cb1-img">
                  <img src="https://res.cloudinary.com/dtbkn91rt/image/upload/v1682164856/gameplay_qwsdjd.gif"/>
                </div>
            </div>
      <!--agents-->
      <div class="home-cb2">
        
      <!--anh-->
                <div class="home-cb2-img">
                  <img src="https://res.cloudinary.com/dtbkn91rt/image/upload/v1682176104/jett_ieixcr.png"/>
                </div>

                <div class="home-cb2-text">
                  <h1> your agents </h1>
                  <h3> // CREATIVITY IS YOUR GREATEST WEAPON.</h3>
                  <p> Blend your style and experience on a global, competitive stage. You have 13 rounds to attack and defend your side using sharp gunplay and tactical abilities. And, with one life per-round, you'll need to think faster than your opponent if you want to survive. Take on foes across Competitive and Unranked modes as well as Deathmatch and Spike Rush.  </p>
                  <a href="{% url 'home:agents' %}">
                    <button class="btn">
                      <span class="btn__inner">
                          <span class="btn__slide"></span>
                          <span class="btn__content" style="text-decoration: none";>View All Agents</span>
                      </span>
                    </button>
                  </a>
                </div>
    
      </div>



      <!--maps-->
      <div class="home-cb3">
              <div class="home-cb3-text">
                  <h1> your map </h1>
                  <h3>// fight around the world. </h3>
                  <p> Blend your style and experience on a global, competitive stage. You have 13 rounds to attack and defend your side using sharp gunplay and tactical abilities. And, with one life per-round, you'll need to think faster than your opponent if you want to survive. Take on foes across Competitive and Unranked modes as well as Deathmatch and Spike Rush.  </p>
                  <a href="{% url 'home:maps' %}">
                    <button class="btn">
                      <span class="btn__inner">
                          <span class="btn__slide"></span>
                          <span class="btn__content" style="text-decoration: none";>View All MAPS</span>
                      </span>
                    </button>
                  </a>
                </div>
            
            <!--anh-->
              <div class="home-cb3-img">
                <img src="https://res.cloudinary.com/dtbkn91rt/image/upload/v1682176103/mapsIntro_tisdlo.png"/>
              </div>
      </div>
    </div>
    <!--enderintros-->
    
{% endblock %}
