{% extends 'home_base.html' %}

{% load static %}
{% block title %}
    What's new in Episode 6 Act II
{% endblock title%}

{% block content %}
<div class="battlepass">

</div>
  <div class="news-header">
    <div class="FAQtitle">
      
      <h1> WHAT'S NEW IN EPISODE 6 ACT II</h1>
      <p> Don’t forget to also check out the new Battlepass, and lastly, start climbing—ranks have been reset. </p>
      <br>
      <br>
      <p> Welcome Dizzy, Wingman, Thrash, Mosh, and the leader of their crew, Los Angeles-native Gekko. Need some assistance getting your team onto site? Send plasma blasts at enemies with Dizzy or have Wingman scout areas for the opposing team and then shower them in obstructive plasma (and plant or defuse the Spike). Be sure to handle Mosh with care—once thrown, Mosh will land and then duplicate across large areas before exploding. Lastly, steer Thrash to find and pounce on enemies in a plasmatic burst. Team up, cause chaos, and then rally together to do it again.</p>
      <p> Don’t forget to also check out the new Battlepass, and lastly, start climbing—ranks have been reset. </p>
      
      
  </div>
  </div>
  <div class="news-body">
    {% for battlepass in battlepasss %}
  <div>
     
      
      
      <div class="battlepass-body">
        <h2> {{battlepass.name}} </h2>
        <p>{{battlepass.description}} </p>
        <img src = {{battlepass.img.url}}>
      </div>

                      
   
  </div> 

    {% endfor %}  
</div>
    
{% endblock content %}



               


