{% extends 'home_base.html' %}

{% load static %}
{% block title %}
    What's new in Episode 6 Act II
{% endblock title%}

{% block content %}
<div class="battlepass">

</div>
  <div class="news-header">
    <div class="FAQtitle">
      
      <h1> WHAT'S NEW IN EPISODE 8 ACT I</h1>
      <p> Don’t forget to also check out the new Battlepass, and lastly, start climbing—ranks have been reset. </p>
      <br>
      <br>
      <p> Scottish troublemaker Clove makes mischief for enemies in both the heat of combat and the cold of death.</p>
      <p> Don’t forget to also check out the new Battlepass, and lastly, start climbing—ranks have been reset. </p>
      
      
  </div>
  </div>
  <div class="news-body">
    {% for battlepass in battlepasss %}
  <div>
     
      
      
      <div class="battlepass-body">
        <h2> {{battlepass.name}} </h2>
        <p>{{battlepass.description}} </p>
        <img src = {{battlepass.img.url}}>
      </div>

                      
   
  </div> 

    {% endfor %}  
</div>
    
{% endblock content %}



               


