{% extends 'home_base.html'%}

{% load static %}
{% block title %}
      AGENTS
{% endblock title %}

{% block content %}
<div class="content-body"> 

      <main class="agentsMainColumn">
        <div class="agentsMainText">
          <h2>// CHECK THE HEADCOUNT </h2>
          <p>
            Find more ways to plant the Spike and style on your enemies with the scrappers, strategists, and hunters of every descriptions.
          </p>
        </div>
        <br>
        <br>
    <!--body-->
    
          
        <div class="acontainer">

            {% for agent in agents %}
            <section class="other-agents">
              
              <div class="agents-container">
                <a href="{{agent.get_absolute_url}}" id="1">
                    <img src="{{agent.avatar_icon.url}}" alt="" />
                </a>
                
              </div>
            </section>
            {% endfor %}
        </div>
  </div>
<br>
<br>
<hr><br>
{% endblock content %}