{% extends 'home_base.html' %}

{% load static %}
{% block title %}
  MAPS
{% endblock title %}

{% block content %}
<div class="content-body">
      <main class="agentsMainColumn">
        <div class="agentsMainText">
          <h2>// MAPS </h2>
          <p>
            This is the place where you and your teamates, also the enemies will try to win the round, win the match and bring back the victory for each team 
          </p>
        </div>


        <div class="mapcontainer">

          {% for map in maps %}
            <div class="mapitem"> 
              <p>{{map.name}}</p>
                <a href="{{map.get_absolute_url}}">
                    <img src="{{map.img.url}}">
                </a>
            </div>
          {% endfor %}
      </div>
      </div>
      <br>
      <hr>
      <br>
</div>
{% endblock content %}