{% extends 'home_base.html' %}

{% load static %}
{% block title %}
    {{weapon.name}}
{% endblock title %}
        WEAPONS
{% block content %}

<!--body-->

    <br>
    <hr>
    <br>
    <div class=" gundetail">
        <h1> // gun's detail </h1>
                <h3> {{weapon.name}} </h3> 
                <h4> {{weapon.type}} </h4>
                <h1>// description </h1>
                <p> {{weapon.description}} </p>
        <img src ="{{weapon.img.url}}">
    
<br>
    <p>{{weapon.dmg_h}} </p> 
    <p>{{weapon.dmg_b}} </p>   
    <p>{{weapon.dmg_l}} </p>
    
</div>
<br>
    <hr>
    <br>
<!--endbody-->
{% endblock content %}