
/* agent */
.agentdetail-body {
  margin: 50px 0px 0px 0px;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.agentdetailheader{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 1500px;
}
.agentdetailskill{
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.agentdetailbg{
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  position: absolute;
}
.agentdetailbg img{
  background-repeat: repeat;
  height: auto;
  width: 100%;
  z-index: -5;
  object-fit: cover;
}
.agentdetailcontent{
  position: relative;
  display: flex;
  justify-content: center;
}
.agentdetailleft img{
  padding-top: 10px;
  height: auto;
  width: 80%;
}

.agentdetailright h1{
  font-family: valorant;
  font-size: 100px;
  margin: 0;
  padding: 0;
}
.agentdetailright h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  font-size: 50px;
  margin: 0;
  padding: 0;
}
.agentdetailright h3{
  margin: 0;
  padding: 0;
}
.agentdetailright .role{
  display: flex;
  justify-content: left;
}
.agentdetailright .role img{
  height: 70%;
  width: 10%;
  padding-left: 10px;
}
.agentdetailright h4{
  margin: 15px 0px 0px 0px;
  padding: 0;
}
.agentdetailright h5{
  margin: 50px 0px 0px 0px;
  padding: 0;
}
.agentdetailright p{
  width: 400px;
}
.agentdetailright {
  color: white;
  display: flex;
  justify-content: left;
  flex-flow: column;
  padding-right: 200px;
}


  
  /* SPECIAL ABILITIES */

.skillcontent{
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.skillintro h1{
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.agent-abilities{
  display: grid;
  grid-template-columns: 180px 400px 500px;
  grid-template-rows: auto;
  justify-content: center;
  grid-gap: 50px;
}
.agent-abilities img{
  padding: 10px;
  filter: brightness(.2);
  justify-content: center;
  border: px solid red;
  width: 100%;
}


.agent-abilities p{
  opacity: .7;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-items: center;
  border: 0px solid rgb(0, 0, 0);
}


/* .agent-abilities img:hover{
  filter: brightness(1);
  background-color: rgb(253, 54, 54);
  transition: .2s ease-in-out;
  transform: scale(1.05);
} */



/* .agent-abilities p:hover {
  opacity: 1;
  transition: .3s ease;
  transform: scale(1.05);
} */
/* .agent-abilities p:hover + video{
  opacity: 1;
  transition: .3s ease-in-out;
}
.agent-abilities video:hover {
  opacity: 1;
  transition: .3s ease;
  transform: scale(1.05);
} */
