.agentsMainColumn h4{
    font-family: valorant;
    font-style: italic;
}
.map{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 1500px;
    margin-top: 20px;
}
.mapcontainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 0;

}

.mapitem{
    border: 0px solid black;
    margin: 5px;
    padding-bottom: 30px;
}
.mapitem p{
    text-shadow: -1px 0 white, 0 1px rgb(255, 255, 255),      1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
    position: absolute;
    color: red;
    font-family: valorant;
    text-align: center;
    z-index: 1;
    padding-left: 10px;
    opacity: 0;
    padding-top: 90px;
    font-size: 40px;
}
.mapitem h5{
    
    position: absolute;
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    text-align: right;
    z-index: 1;
    padding-left: 10px;
    opacity: 0;
    padding-top: 90px;
    font-size: 40px;
}

.mapitem img {
    position: relative;
    overflow:visible;
    filter: grayscale(80%);
    
}
.mapitem:hover {
    transform: scale(1.03);
    transition: .2s ease-in-out;

}
.mapitem:hover img{
    filter: grayscale(0%);
}
.mapitem:hover p{
    text-shadow: -1px 0 white, 0 1px rgb(255, 255, 255),      1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
    opacity: 1;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 60px;
    transition: .2s ease-in-out;
}
.mapitem:hover h5{
    text-shadow: -1px rgb(255, 255, 255);
    opacity: 1;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 200px;
    transition: .4s ease-in-out;
    font-size: small;
}


.mapcontainer img{
    width: 100%;
    height:auto;
}




body{
    height: 100vh;
    background-color:antiquewhite;
}

.mcontainer{
    height: 80%;
    width: 80%;
    margin: 50px auto; 
}

.mmain {
    height: 80%;
    margin:20px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
}

.mmain img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.img-feature{
    transition:  1s;

}
.img-feature p{
    color: red;
}
.img-feature:hover{
    transition:  1s ease-in-out;
}


.list-image {
    width: 100%;
    height: auto;
    display: flex;
}

.list-image div{
    flex: 1; 
}

.list-image img{
    padding: 5px;
    cursor: pointer;
    height: 95%;
    width: 95%;
    object-fit: cover;
    object-position: center ;
    position: relative;
    filter: brightness(100%);
}
.list-image img:hover{
    transform: scale(.95);
    filter: brightness(70%);
    transition: .2s ease-in-out;
}




.control{
    position: absolute;
    top: 50%;
    height: 5%;
    width: 5%;
    color: white;
    transform: translateY(-50%);
    -webkit-filter: invert(1);
    filter:invert(100%);
    cursor: pointer;

}

.prev {
    left: 10px;

}

.next {
    right: 10px;
}

.active{
    background-color: rgb(128, 0, 0);
}

@keyframes slideLeft {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
    
}@keyframes slideRight {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
    
}