body {
  font-family: RixSGo,Tahoma,sans-serif;
  background-color: antiquewhite;
  background-image: url('../img/valoranttext.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: soft-light;
  background-size:cover;
  cursor: default;
  scroll-behavior: smooth;
  transition: 0.8s ease-in-out;
  
}

/*-----------------------  Navigation  -----------------------*/

nav {
  position: relative;
  background-color: #111111;
  padding: 15px;
  border-bottom: 5px solid #1a1a1a;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul {
  margin: 0 auto;
  padding: 5px 0px;
  display: flex;
  list-style: none;
}

nav a {
  padding: 20px;
  text-transform: uppercase;
  color: #ece7e1;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  border-bottom: 5px solid #ff4655;
  transition: .3s ease-in-out;
  background-color: rgb(58, 58, 58);
  border-radius: 5px 5px 5px 5px;
}


footer {
  padding-top: 30px;
  background-color: #111111;
  color: #7c7e82;
  text-align: center;

}

footer p {
  padding: 0 37% 0 37%;
  font-size: 80%;
}

footer span {
  text-transform: uppercase;
}
.introColumn {
  display: flex;
  flex-flow: row;
  padding-bottom: 100px;
}
.updraft img {
  height: 50px;
  width: auto;
}

.updraft img:hover {
  transform: scale(1.4);
  transition: .2s ease-in-out;
}
/*-----------------------  IndexHeader  -----------------------*/

.indexHeader {
  color: #ece7e1;
  height: 800px;
  padding: 1px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  position: relative;
  margin-bottom: 5px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 5px;
  background-image: url(../img/bg-img.gif);
}


.indexHeader h1{
  font-family: Valorant;
}
.indexHeaderRole {
  color: #ece7e1;
  height: 800px;
  padding: 5px;
  background-image: url(../img/bg-img.gif);
  background-position: 50% 85%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 5px;
}
.indexHeaderRole p{
  color: #383e3a;
}
.indexHeaderRole h1{
  font-size: large;
  color: white;
  font-family: Valorant;
}

.indexHeader1 {
  color: #ece7e1;
  height: 800px;
  padding: 1px;
  background-image: url(../img/news_header.png);
  background-position: 50% 85%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 5px;
}

.indexHeader p {
  font-weight: bold;
}

.indexHeader h1 {
  font-size: 800%;
  margin: 0 0 30px 0;
}

.indexHeader a {
  text-decoration: none;
  font-weight: bold;
  font-size: 95%;
  text-transform: uppercase;
  color: #ece7e1;
  background-color: #ff4654;
  padding: 15px 60px;
  border-radius: 5px;
}

.indexHeader a:hover {
  background-color: #0f1923;
  transition: 0.5s;
}

/*-----------------------  Index-valorantIntro  -----------------------*/

.valorantIntro {
  width: 100%;
  margin: 80px 0 40px 0px;
}

.valorantIntro h1 {
  color: #0f1922;
  text-transform: uppercase;
  font-size: 400%;
}



#intro {
  margin-left: 400px;
}
.intro h1{
  font-family: Valorant;
}

.introLeft {
  width: 15%;
  margin-left: 400px;
}


.introRight {
  width: 50%;
  text-align: center;
}

p {
  line-height: 150%;
}
.newsintro h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-left: 100px;
}
.introLeft h2 {
  color: #3e3838;
  text-transform: uppercase;
  

}

.introLeft p {
  color: #7f8286;
  padding-bottom: 30px;
  border-bottom: solid 1px black;
}

.introLeft span {
  text-transform: uppercase;
}

.introRight img {
  height: 400px;
  width: 700px;
}
.introRight img:hover {
  height: 400px;
  width: 700px;
}

/*-----------------------  insex-intro-page  -----------------------*/
.indexIntroContainer{
  display: grid;
  grid-template-columns: auto;
  grid-gap: 4px;
  justify-content: center;
  position: relative;
  
}
.indexIntroContaineriner{
  display: grid;
  grid-template-columns: repeat(2, auto);
  border: 0px solid black;
}
.indexIntroContainerinerr{
  display: grid;
  grid-template-columns: repeat(2, auto);
  border: 0px solid black;
  background-color: #ff4a4a;
  
}



.introitem{
  border: 0px solid red;
}


.introitem img{
  height: 450px;
  width: 800px;
  margin: 100px 300px 10px 0px;
  border: 3px solid red;
  padding: 5px 5px 5px 5px;
}


.introitem p{
  color: rgb(124, 124, 124);
  text-align: left;
  margin: 40px 200px 40px 10px;
  padding-left: 350px;
}
.introitem h1{
  font-size: 120px;
  margin: 10px 100px 10px 300px;
}

.introitem h3{
  font-size: 20px;
  font-style: italic;
  color: #3a3a3a;
  margin-left: 400px;
}
.introitem a{
  padding: 20px 0px 100px 400px;
  text-decoration: none
}
.introitem video{
  text-align: center;
  height: auto;
  width: 100%;
}
.introitem1{
  border: 0px solid green;
  margin: 5px 5px 5px 5px;
}

.introitem1 img{
  padding-left: 300px;
  height: 650px;
  width: 1000px;
}

.introitem1 p{
  color: white;
  text-align: left;
  margin: 0px 60px 0px 40px;
  padding-right: 400px;
}
.introitem1 h1{
  font-size: 120px;
  color: white;
  text-align: left;
  margin: 10px 400px 10px 10px;
}
.introitem1 h3{
  font-size: 20px;
  font-style: italic;
  color: #ffffff;
  padding-right: 200px;
  margin: 50px 0px 50px 100px;
}
.introitem1 a{
  padding-right: 400px;
  display: flex;
  justify-content: center;
}

.introitem8 {
  text-align: right;
}
.introitemm{
  margin: 50px 0px 0px 0px;
  border: 0px solid blue;

}
.introitemm img{
  height: 450px;
  width: 800px;
  margin: 100px 300px 50px 10px;
  border: 3px solid red;
  padding: 5px 5px 5px 5px;
}

.introitemm p{  
  color: rgb(124, 124, 124);
  text-align: left;
  margin: 0px 200px 40px 0px;
  padding-left: 450px;
}
.introitemm h1{
  font-size: 120px;
  margin: 40px 100px 10px 400px;
}
.introitemm h3{
  font-size: 20px;
  font-style: italic;
  color: #3a3a3a;
  margin: 50px 0px 0px 450px;
}

.introitemm a{
  padding-left: 400px;
}


.introitem0{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}
.introitem5{
  

  grid-row-start: 1;
  grid-row-end: 4;
}
.introitem9{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}




/*intro agents */
/*-----------------------  Agents-page  -----------------------*/

.agentsImages {
  padding: 30px 50px 50px 50px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.agentsImages img {
  padding: 20px;
  box-sizing: border-box;
  width: 25%;
}

.agentsMainText {
  margin-left: 70px;
  width: 20%;
  border-bottom: 1px solid black;
  margin-top: 70px;
}

.agentsMainText h2 {
  color: #383e3a;
}

.agentsMainText p {
  color: #7c7e86;
}

/*-----------------------  Specs-page  -----------------------*/

.specsIntro {
  background-image: url(../img/agent-background-generic.gif);
  background-position: 50% 10%;
  background-repeat: no-repeat;
  color: #ece7e1;
  padding: 50px;
  height: 450px;
}

.specsIntro h1 {
  margin-top: 160px;
  margin-left: 370px;
  font-size: 400%;
  text-transform: uppercase;
  border-top: solid 1px #ece7e1;
  width: 20%;
  padding-top: 40px;
  font-family: Valorant;
}

.hardwareIntro {
  margin-left: 430px;
  width: 60%;
}

.hardwareBlock h2 {
  color: #0f1923;
  text-transform: uppercase;
  font-size: 200%;
  margin-top: 80px;
}

.hardwareBlock2 p {
  background-color: #0f1923;
  color: #ece7e1;
  margin-left: 1px;
  padding: 38px;
  width: 20%;
  text-align: center;
}

.hardwareBlock2 img {
  margin-top: 4px;
}

.hardwareBlock2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}

.hardwareSub1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hardwareSub2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#hardwareSub2 {
  color: #0f1923;
  font-weight: bold;
}

.hardwareSub3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#hardwareSub3 {
  color: #0f1923;
  font-weight: bold;
}

.hardwareSub1 p {
  background-color: #8c978f;
  color: #ece7e1;
  padding: 38px;
  width: 20%;
  text-align: center;
  margin-left: 1px;
}

.miniBlock1 {
  margin-top: 4px;
}

.hardwareSub2 p {
  background-color: #8c978f;
  color: #ece7e1;
  padding: 38px;
  width: 20%;
  text-align: center;
  margin-left: 1px;
}

.hardwareSub3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hardwareSub3 p {
  background-color: #8c978f;
  color: #ece7e1;
  padding: 38px;
  width: 20%;
  text-align: center;
  margin-left: 1px;
}

.hardwareSub2 {
  margin-top: -31px;
}

.hardwareSub3 {
  margin-top: -31px;
  margin-bottom: 100px;
}

/*-----------------------  Signup-page  -----------------------*/

.signupWrapper {
  background-image: url(../images/valorantbg.jpg);
  background-position: center top;
  padding-bottom: 80px;
}

.accountIntro {
  color: #ece7e1;
  font-size: 200%;
  text-transform: uppercase;
  padding: 10px;
  margin-left: 120px;
  width: 30%;
}

.formBlock {
  margin-left: 80px;
  background-color: #ece7e1;
  width: 25%;
  padding: 30px;
  border-radius: 5px;
}

.emailIntro {
  text-transform: uppercase;
  padding: 10px;
  color: #1a1a1a;
}

.email input {
  border-radius: 5px;
  padding: 10px;
  background-color: #ededed;
}

.newsletter {
  color: #1a1a1a;
  padding: 10px;
  margin-bottom: 50px;
}

.email {
  padding: 10px;
}

.ageIntro h1 {
  text-transform: uppercase;
  padding: 10px;
  color: #1a1a1a;
}

.ageIntro p {
  color: #1a1a1a;
  font-size: 120%;
  margin-left: 10px;
}

.age label {
  color: #1a1a1a;
  padding: 10px;
}

.age {
  margin-bottom: 50px;
}

.usernameIntro h1 {
  text-transform: uppercase;
  padding: 10px;
  color: #1a1a1a;
}

.usernameIntro p {
  color: #1a1a1a;
  font-size: 120%;
  margin-left: 10px;
}

.username input {
  border-radius: 5px;
  padding: 10px;
  background-color: #ededed;
}

.username {
  margin-left: 10px;
  margin-bottom: 50px;
}

.passwordIntro h1 {
  text-transform: uppercase;
  padding: 10px;
  color: #1a1a1a;
}

.passwordIntro p {
  color: #1a1a1a;
  font-size: 120%;
  margin-left: 10px;
}

.password input {
  border-radius: 5px;
  padding: 10px;
  background-color: #ededed;
}

.password {
  margin-left: 10px;
  margin-bottom: 5px;
}

.passwordCheck input {
  border-radius: 5px;
  padding: 10px;
  background-color: #ededed;
}

.passwordCheck {
  margin-left: 10px;
  margin-bottom: 5px;
}

.submit {
  padding: 10px;
  margin-top: 20px;
}

.submit input {
  background-color: #ff4655;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.submit input:hover {
  background-color: #0f1923;
  transition: 0.5s;
}
.ender {
  text-align: center;
}
.ender h5{
  color: white;
  text-transform: uppercase;
}
.enderlink img{
  padding: 30px 100px 20px 50px;
  height: 70px;
  width: auto;
  justify-content: center;
  filter: grayscale(100);
}
.enderlink img:hover{
  transform: scale(1.1);
  transition: .4s ease-in-out;
  filter: grayscale(0);
}
.ender img {
  height: 30px;
  width: 30px;
  filter: grayscale(100);
  padding: 0px 5px 10px 5px;
}
.ender img:hover{
  filter: grayscale(0);
  transition: .5s ease;
  transform: scale(1.1);
}
.ho-social{
  filter: grayscale(100%);
  margin-left: 50px; 
  margin-bottom: -600px;
  margin-top: 300px;
  font-weight: bold;
}
.ho-social img {
  height: 30px;
  width: 30px;
  padding: 20px;
}

.introheader{
  padding-left: 100px;
}
.introheader h1{
  color: rgb(43, 43, 43);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
.introheader p{
  color: #3a3a3a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.introRight link{
  background-color: #0f192200;
}
.link img{
  filter: brightness(1);
  border: 4px solid rgba(255, 0, 0, 0);
  padding: 2px;
}
.link img:hover {
  filter: brightness(.5);
  transition: .4s ease-in-out;
  border: 4px solid rgb(255, 81, 0);
  border-radius: 10px 10px 10px 10px;
}
.introRight:hover link {
  transition: all .15s ease-in-out;
}

/* tutorials part  */
.tutorial{
  margin: 50px 100px 0px 400px;
}
.tutorial img{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
}

.FAQheader{
  color: #ece7e1;
  height: 800px;
  padding: 1px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 5px;
  height: 500px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 5px;
  background-image: url(../img/FAQheader.jpg);
}
.FAQ {
  justify-self: center;
  max-width: 900px;
  margin-left: 500px;
}
.FAQ h3{
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.FAQ p{
  text-align: left;
  color:#1a1a1a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 10px;
  margin-left: 10px;
  color: #3b3b3b;
}
.FAQtitle h1{
  font-size: 100px;
  margin-left: 200px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
}
.FAQtitle h2{
  display: flex;
  justify-content: center;
}
.FAQtitle p{
  text-align: left;
  color:#1a1a1a;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 10px;
  margin-left: 500px;
  max-width: 900px;
  color: #777777;
  font-weight: bold;
}
.FAQtitle iframe{
  display: flex;
  justify-content: center;
  height: 560px;
  width: 1000px;
  position: relative;
  top: 0px;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

