.arsenal-body{
    margin-top: 100px;
    padding: 0;

}
.arsenal-all{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 400px;
}
.arsenal{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
}
.arsenal-content {
    padding: 5px;
    width: 500px;
}
.arsenal-content a{
    text-decoration: none;
}
.arsenal-content-item {
    border: 1px solid black;
}
.arsenal-content-item:hover{
    transition: .3s ease;
    background-color: rgb(255, 0, 0);
}
.arsenal-content-item-text p{
    z-index: 1;
    position: absolute;
    color: black;
    width: 350px;
    text-align: left;
    padding-left:0;
    opacity:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}
.arsenal-content-item-text h3{
    color: black;
    text-align: left;
    padding-left: 20px;
    font-family: valorant;
}

.arsenal-content-item-img img{
    position: relative;
    height: auto;
    width: 100%;
}
.arsenal-content-item:hover img { 
    transform: scale(.95);
    opacity: .5;
    color: black;
    transition: .2s ease-in-out;
}
.arsenal-content-item:hover p{
    color: rgb(255, 255, 255);
    opacity: 1;
    transition: .2s ease-in-out;
    padding-left: 80px;
}
.arsenal-content-item:hover h3{
    transition: .2s ease-in-out;
    color: rgb(255, 255, 255);
    opacity: 1;
    text-align: left;
    padding-left: 160px;

}

















/* gun detail */ 
.gundetail {
    justify-content: center;
    display: flex;
    margin: 40px;
}
.gundetail h2{
    font-family: valorant;
}
.gundetail h3{
    font-family: valorant;
}
.gundetail h4{
    font-family: valorant;
    font-weight: bold;
}
.gundetail h5{
    font-family:'Courier New', Courier, monospace;
}
.gundetail p{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
.gundetail-img {
    max-width: 750px;
    
    margin-right: 100px;
}

.gundetail .gundetail-description{
    text-align: left;
}
.gundetail-description{
    text-align: right;
    max-width: 400px;
}