.container{
    display: grid;
    grid-template-columns: 800px 800px;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    grid-gap: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}
    .description-container{
    display: grid;
    grid-template-columns: 600px ;
    justify-content: center;
    align-items: center;
}
.item{
    position: relative;
    border: 0px solid black;
    text-align: center;
    font-weight: bold;
}
.item img{
    filter: drop-shadow(1em 1em 0.05em #7e7e7e);
}
.description-item{
    border: 0px solid black;
}
    
    
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .3s ease ;
    opacity: 0;
    text-align: left;
}
.item .text{
    color: white;
    font-size: 20px ;
    position: absolute;
    font-weight: lighter;
    font-family:'Courier New', Courier, monospace;
    opacity: 0;
    
} 

.item:hover .text{
    color: white;
    font-size: 20px ;
    position: absolute;
    font-weight: lighter;
    font-family:'Courier New', Courier, monospace;
    opacity: 1;
}
        
    
.item:hover img{
    transform: scale(.95);
    transition: .5s ease;
}
/* gun detail */ 
.gundetail {
    justify-content: center;
    display: flex;
    margin: 40px;
}
.gundetail h2{
    font-family: valorant;
}
.gundetail h3{
    font-family: valorant;
}
.gundetail h4{
    font-family: valorant;
    font-weight: bold;
}
.gundetail p{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
.gundetail-img {
    max-width: 750px;
    
    margin-right: 100px;
}

.gundetail .gundetail-description{
    text-align: left;
}
.gundetail-description{
    text-align: right;
    max-width: 400px;
}