.container{
    display: grid;
    grid-template-columns: 800px 800px;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    grid-gap: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}
    .description-container{
    display: grid;
    grid-template-columns: 600px ;
    justify-content: center;
    align-items: center;
}
.item{
    position: relative;
    border: 0px solid black;
    text-align: center;
    font-weight: bold;
}
.item img{
    filter: drop-shadow(1em 1em 0.05em #7e7e7e);
}
.description-item{
    border: 0px solid black;
}
    
    
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .3s ease ;
    opacity: 0;
    text-align: left;
}
.item .text{
    color: white;
    font-size: 20px ;
    position: absolute;
    font-weight: lighter;
    font-family:'Courier New', Courier, monospace;
    opacity: 0;
    
} 

.item:hover .text{
    color: white;
    font-size: 20px ;
    position: absolute;
    font-weight: lighter;
    font-family:'Courier New', Courier, monospace;
    opacity: 1;
}
        
    
.item:hover img{
    transform: scale(.95);
    transition: .5s ease;
}
/* gun detail */ 
.gundetail{
    display: block;
    align-items: center;
    text-align: leftt;
    margin-left: 500px;
}

.gundetail h1{
    text-transform: uppercase;
    font-family: valorant;
}

.gundetail p{
    color: #7e7e7e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 500px;
}

.gundetail img:hover{
    transform: scale(1.1);
    transition: .1s ease-out;
}