{% extends 'home_base.html' %}

{% load static %}
{% block title %}
    NEWS
{% endblock title%}

{% block content %}
<div class="content-body">
  <div class"newsintro">
    <h2 style="font-size: 70px; padding-left: 200px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; "> // LATEST NEWS </h2>
    <p style="color: #8f8c8c; padding-left: 200px; font-size: 30px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"> Update the latest news of Valorant and Riot Games </p>
  </div>

    {% for news in newss %}
    <a href="{{news.link}}">    
        <div class="newsbody">
          
            <div class="newsdes">
                <h2> {{news.name}} </h2>
                <p> {{news.description}} </p>
                <hr>
                <i> {{news.datetime}} </i>
            </div>

            <!--anh-->

            <a href="{{news.link}}">
                <div class="newsimg">
                  <img src="{{news.img.url}}">
                </div>
            </div>
    </a>
    
</div>
    {% endfor %}  

    
{% endblock content %}



               


