{% extends 'home_base.html' %}

{% load static %}
{% block title %}
    NEWS
{% endblock title%}

{% block content %}

  <div class="news-header">
    <div class="videoheader">
      <video autoplay muted loop>
          <source src="https://res.cloudinary.com/dtbkn91rt/video/upload/v1682169325/VALORANT-_Riot_Games_competitive_5v5_character-based_tactical_shooter_3_jx9cwe.mp4"></source>
      </video>
    
      <div class="news-intro">
          <h2> // LATEST NEWS </h2>
          <p> Update the latest news of Valorant and Riot Games </p>
      </div>
    </div>
  </div>
  <div class="news-body">
    {% for news in newss %}
  <div>
    <a href="{{news.link}}">   
      
      
                      <div class="newsbody">
                          <div class="newsdes">
                                <h2> {{news.name}} </h2>
                                  <p> {{news.description}} </p>
                                  <hr>
                              <i> {{news.datetime}} </i>
                          </div>
                          <!--anh-->
                          
                              <div class="newsimg"><a href="{{news.link}}">
                                <img src="{{news.img.url}}"> </a>
                              </div>
                      </div>

                      
    </a>
  </div> 

    {% endfor %}  
</div>
    
{% endblock content %}



               


